include README.md LICENSE
include *.txt *.yml
include docs/source/images/elderflower.png 
include docs/source/images/Cornerplot2p_test.png 
include docs/source/images/subtract_stars_by_psf.png
recursive-include configs *
